@import "_basics";

.about {
  .wrapper {
    padding: 10% 2%;

    .section {
      .header, .description {
        width: 80%;
        margin: auto;
      }

      .header {
        h1 {
          margin: 10px 0;
          font-size: 30px;
        }
      }

      .description {
        p {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  .about {
    padding-top: 200px;

    .wrapper {}
  }
}

@media only screen and (min-width:769px) {
  .about {
    padding-top: 100px;

    .wrapper {
      display: flex;

      .section {
        width: 50%;
      }
    }
  }
}
