@import "_basics";

// home section starts here
#home {
  height: 100vh;
  background-image: url('https://ucarecdn.com/63c2b66b-ca43-4457-add6-d346eeaf3925/bg_1.jpg');
  background-size: cover;

  .logo {
    position: absolute;
    width: 85%;
    max-width: 675px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
    }
  }

  .arrow {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
    animation: jump 2s infinite;

    img {
      width: 60px;
    }
  }
}

@keyframes jump {
  0%, 100% {
    bottom: 2%;
  }

  50% {
    bottom: 5%;
  }
}
// home section ends here


// about overview section starts here
.about-overview {
  .wrapper {
    .image {
      img {
        display: block;
        object-fit: cover;
      }
    }

    .text {
      font-family: $header-text;

      p {
        margin: 20px 0 40px;
      }

      a {
        background: none;
        border: 1px solid $black;
        padding: 15px 30px;
        outline: none;
        text-decoration: none;
        color: $black;

        &:hover {
          color: #fff;
          background-color: $black
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  .about-overview {
    padding: 100px 2%;
    .wrapper {
      .section {
        width: 80%;
        max-width: 400px;
        margin: auto;

        &.image {
          img {
            width: 100%;
            height: 350px;
          }
        }

        &.text {
          padding: 30px 0;

          p {
            font-size: 25px;
          }

          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:769px) {
  .about-overview {
    padding: 10% 5%;
    .wrapper {
      width: 100%;
      display: flex;

      .section {
        width: 50%;
      }

      .image {
        position: relative;

        img {
          width: 80%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .text {
        padding: 7% 0 9%;
        margin-left: 40px;

        p {
          font-size: 28px;
          width: 80%;
        }

        a {
          font-size: 20px;
        }
      }
    }
  }
}
// about overview section ends here


// appointment section starts here
.appointment {
  background: $light-gray;
  .wrapper {
    text-align: center;

    h1 {
      font-family: $header-text;
      width: 80%;
      max-width: 650px;
      margin: 40px auto;
      font-weight: lighter;
    }

    a {
      background: none;
      color: $black;
      font-family: $header-text;
      border: 1px solid $black;
      padding: 15px 30px;
      outline: none;
      text-decoration: none;

      &:hover {
        color: #fff;
        background-color: $black;
      }
    }
  }
}

@media only screen and (max-width:768px) {
  .appointment {
    .wrapper {
      padding: 100px 2% 140px;

      h1 {
        font-size: 25px;
      }

      a {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width:769px) {
  .appointment {
    .wrapper {
      padding: 10% 5% 13%;

      h1 {
        font-size: 35px;
      }

      a {
        font-size: 20px;
      }
    }
  }
}
// appointment section ends here
