@import "_basics";

.services {
  .header {
    background: $black;

    h1 {
      margin: 0;
      color: #fff;
      padding-top: 230px;
      padding-bottom: 80px;
      padding-left: 10%;
    }
  }

  .wrapper {
    text-align: center;

    .row {
      display: flex;

      .card {
        width: 250px;
        margin: 30px;
        padding: 25px 15px;
        // border: 1px solid $black;

        img {
          height: 80px;
          width: 100%;
          padding: 10px 0;
          margin: auto;
        }

        h2 {
          font-size: 20px;
          text-align: center;
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  .services {
    .header {
      h1 {
        font-size: 50px;
      }
    }

    .wrapper {
      .row {
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width:769px) {
  .services {
    .header {
      h1 {
        font-size: 60px;
      }
    }

    .wrapper {
      .row {
        justify-content: space-around;
        padding: 50px 5% 0;
      }
    }
  }
}
