.home {
  height: 100vh;
  background-image: url('../../images/bg_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  .header {
    display: flex;
    padding: 40px;
    align-items: center;
    .left {
      button {
        font-size: 20px;
        color: #fff;
        padding: 10px 30px;
        border: 1px solid #fff;
        background: none;
        border-radius: 50px;;
      }
    }
    .divider {
      flex: 1;
    }
    .right {
      img {
        height: 35px;
      }
    }
  }
  .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
    img {
      max-width: 70%;
      height: 40%;
    }
  }
  .footer {
    position: absolute;
    padding-right: 40px;
    right: 0;
    top: 85%;
    img {
      height: 20px;
      padding: 15px;
    }
  }
}
