@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

// fonts
$title: "font-family: 'Lato', sans-serif";
$text: "font-family: 'Roboto', sans-serif";

// colors
$light-bg: #F7F7F7;
