.about {
  padding: 30px 20px 0;
}

.about h1, .about p {
  margin: 0;
}

.about h1 {
  font-size: 40px;
}

.about p {
  padding-top: 10px;
}

.personal {
  padding: 40px 15px;
  border: 1px solid #000;
  margin: 20px 0;
}

.personal img {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
}

.personal h2 {
  margin: 0;
  padding: 5px;
}

@media only screen and (min-width:350px) {
  .personal img {
    width: 245px;
    height: 245px;
  }
}
