@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html body h3 {
  font-size: 22px;
  margin: 0;
}
html body p {
  font-size: 18px;
  margin: 0;
}

#Home .home-container {
  height: 100vh;
}
#Home .home-container .logo-container img {
  position: absolute;
  width: 90%;
  max-width: 700px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Home .home-container .social-container {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#Home .home-container .social-container img {
  width: 65px;
}

@media only screen and (max-width: 768px) {
  #Home .container .bar ul {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  #Home .container .bar ul {
    display: flex;
  }
  #Home .container .bar ul li {
    color: #fff;
  }
  #Home .container .bar .button {
    display: none;
  }
}
.navigation .container {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 0 8vw;
}
.navigation .container .appointment-bttn a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 10px 25px;
  border-radius: 30px;
}
.navigation .container .appointment-bttn a:hover {
  background: #fff;
  color: #000;
}
.navigation .container .divider {
  flex: 1;
}
.navigation .container .links ul {
  list-style-type: none;
}
.navigation .container .links ul li {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.navigation .container .links ul li:hover {
  text-decoration: overline;
}

@media only screen and (max-width: 768px) {
  .navigation .container .links {
    position: fixed;
    background: #100F08;
    width: 80vw;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
    z-index: 2;
  }
  .navigation .container .links ul {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navigation .container .links ul li {
    padding: 18px 0;
  }
  .navigation .container .links.show {
    transform: translateX(0%);
    opacity: 1;
  }
}
@media only screen and (min-width: 769px) {
  .navigation .container .hamburger-toggler {
    display: none;
  }
  .navigation .container .links ul {
    display: flex;
  }
  .navigation .container .links ul li {
    padding: 0 18px;
  }
}
#About {
  padding: 50px 0;
}
#About .company-description {
  border: 1px solid #000;
  width: 70%;
  margin: 70px auto;
  padding: 7%;
}
#About .information-container {
  display: flex;
  margin: 110px 0;
}
#About .information-container .image-container img {
  object-fit: cover;
  box-shadow: 0 10px 70px 1px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 768px) {
  #About .information-container {
    flex-direction: column;
  }
  #About .information-container .image-container img {
    width: 80%;
    margin: 50px auto 30px;
    display: block;
  }
  #About .information-container .description-container {
    padding: 40px 10%;
  }
}
@media only screen and (min-width: 769px) {
  #About .information-container {
    padding: 0 5%;
  }
  #About .information-container .image-container, #About .information-container .description-container {
    width: 50%;
  }
  #About .information-container .image-container {
    position: relative;
  }
  #About .information-container .image-container img {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #About .information-container .description-container {
    margin: 50px 0;
  }
  #About .information-container .description-container h3, #About .information-container .description-container p {
    padding-right: 15%;
    padding-left: 10%;
  }
  #About .information-container .description-container h3 {
    margin: 10px 0;
  }
}
#Services {
  padding: 10% 0;
}
#Services h3 {
  text-align: center;
  margin-bottom: 50px;
}
#Services .services-container .row {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}
#Services .services-container .row .service {
  text-align: center;
}
#Services .services-container .row .service h4 {
  font-size: 18px;
}

#Contact {
  padding: 30px 0;
}
#Contact .contact-container {
  border: 1px solid #000;
}
#Contact .contact-container .info-container h4 {
  margin: 0;
  font-size: 19px;
}
#Contact .contact-container .info-container a {
  color: #000;
}

@media only screen and (max-width: 799px) {
  #Contact .contact-container {
    width: 70%;
    padding: 5% 10%;
    margin: 100px auto;
  }
  #Contact .contact-container .desc-container, #Contact .contact-container .info-container {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 800px) {
  #Contact {
    height: 100vh;
    position: relative;
  }
  #Contact .contact-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 10%;
    display: flex;
    align-content: center;
  }
  #Contact .contact-container .desc-container {
    width: 50%;
  }
  #Contact .contact-container .info-container {
    width: 50%;
  }
  #Contact .contact-container .info-container h4, #Contact .contact-container .info-container a {
    padding: 0 20% 0 30%;
  }
}
footer {
  background: #100F08;
  height: 120px;
  text-align: center;
}
footer h5 {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
