@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html body h3 {
  font-size: 22px;
  margin: 0;
}
html body p {
  font-size: 18px;
  margin: 0;
}

.navigation .container {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 0 8vw;
}
.navigation .container .appointment-bttn a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 10px 25px;
  border-radius: 30px;
}
.navigation .container .appointment-bttn a:hover {
  background: #fff;
  color: #000;
}
.navigation .container .divider {
  flex: 1;
}
.navigation .container .links ul {
  list-style-type: none;
}
.navigation .container .links ul li {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.navigation .container .links ul li:hover {
  text-decoration: overline;
}

@media only screen and (max-width: 768px) {
  .navigation .container .links {
    position: fixed;
    background: #100F08;
    width: 80vw;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
    z-index: 2;
  }
  .navigation .container .links ul {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navigation .container .links ul li {
    padding: 18px 0;
  }
  .navigation .container .links.show {
    transform: translateX(0%);
    opacity: 1;
  }
}
@media only screen and (min-width: 769px) {
  .navigation .container .hamburger-toggler {
    display: none;
  }
  .navigation .container .links ul {
    display: flex;
  }
  .navigation .container .links ul li {
    padding: 0 18px;
  }
}
.information-container {
  display: flex;
  margin: 110px 0;
}
.information-container .image-container img {
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .information-container {
    flex-direction: column;
  }
  .information-container .image-container img {
    width: 80%;
    margin: 50px auto 30px;
    display: block;
  }
  .information-container .description-container {
    padding: 40px 10%;
  }
}
@media only screen and (min-width: 769px) {
  .information-container {
    padding: 0 5%;
  }
  .information-container .image-container, .information-container .description-container {
    width: 50%;
  }
  .information-container .image-container {
    position: relative;
  }
  .information-container .image-container img {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .information-container .description-container {
    margin: 50px 0;
  }
  .information-container .description-container h3, .information-container .description-container p {
    padding-right: 15%;
    padding-left: 10%;
  }
  .information-container .description-container h3 {
    margin: 10px 0;
  }
}
.app #Home .home-container {
  height: 100vh;
}
.app #Home .home-container .logo-container img {
  position: absolute;
  width: 90%;
  max-width: 700px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app #Home .home-container .social-container {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.app #Home .home-container .social-container img {
  width: 65px;
}
.app #About {
  padding: 50px 0;
}
.app #About .company-description {
  border: 1px solid #000;
  width: 70%;
  margin: 70px auto;
  padding: 7%;
}
.app #Services, .app #Contact {
  height: 100vh;
}
.app footer {
  background: #100F08;
  height: 120px;
  text-align: center;
}
.app footer h5 {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .app #Home .container .bar ul {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .app #Home .container .bar ul {
    display: flex;
  }
  .app #Home .container .bar ul li {
    color: #fff;
  }
  .app #Home .container .bar .button {
    display: none;
  }
}

/*# sourceMappingURL=App.css.map */
