/* i want a simple form that will generate an email with all the information provided */
.contact {
  padding: 30px 20px 0;
}

.contact h1 {
  font-size: 40px;
  margin: 0;
}

.form {
  padding: 20px 0;
}

input[type=text], input[type=tel], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-bottom: 15px;
  resize: vertical;
  font-size: 13px;
}

.form textarea {
  height: 200px;
}

.form button {
  background-color: #000;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

@media only screen and (min-width:500px) {
  .center {
    display: inline-block;
  }

  input[type=text], input[type=tel], input[type=email], textarea {
    width: 500px;
    display: block;
    border-radius: 0;
  }
}

@media only screen and (max-width:425px) {
  input[type=text], input[type=tel], input[type=email], textarea {
    border-radius: 0;
  }
}
