.footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.navigate h2, .navigate ul, .footer p, .information h2, .footer h3 {
  margin: 0;
}

.navigate ul {
  padding: 0;
  list-style-type: none;
}

.navigate ul li a {
  color: #000;
}

.information {
  margin-bottom: 15px;
}

.information a, .information p {
  padding-top: 2px;
  padding-bottom: 2px;
}

@media only screen and (max-width:450px) {
  .information h2, .navigate h2 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .navigate li {
    padding: 5px 0;
  }

  .navigate ul li a {
    font-size: 20px;
  }

  .footer h3 {
    padding-top: 15px;
  }
}

@media only screen and (min-width:451px) {
  .navigate ul {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .navigate ul li {
    display: inline;
    padding: 0 10px;
  }

  .navigate ul li a {
    font-size: 20px;
  }
}
