.intro {
  height: 100vh;
  color: white;
  background-image: url('../img/intro-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-logo img {
  width: 80vw;
  height: 40vw;
  padding-top: 20vh;
}

.intro-items {
  padding: 10px;
}

.intro-items h1 {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  color: #000;
}

.intro-items img {
  height: 40vw;
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* make the down image keep the same size after mobile large view */
@media only screen and (min-width:400px) {
  .intro-items img {
    height: 160px;
    width: 160px;
  }
}

@media only screen and (min-width:425px) {
  .intro-logo img {
    width: 60vw;
    height: 30vw;
    padding-top: 10vh;
  }
}


@media only screen and (min-width:768px) {
  .intro-items h1 {
    font-size: 50px;
  }
}
