.services {
  padding: 30px 20px 0;
}

.services h1, .services p {
  margin: 0;
}

.services h1 {
  font-size: 40px;
}

.services ul {
  list-style-type: none;
}

.services ul li {
  font-size: 25px;
  padding: 5px;
}
